<html>
<head>
    <meta charset="UTF-8">
    <title>evalcode</title>
    <script src="https://cdn.bootcss.com/vue/2.5.15/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/paho-mqtt/1.0.2/mqttws31.min.js"></script>
</head>
<body>
    <div id="vm">
        <div style="margin: 5px">
            language:
            <el-select v-model="lang" placeholder="请选择">
                <el-option
                        v-for="item in langlist"
                        :key="item"
                        :label="item"
                        :value="item">
                </el-option>
            </el-select>
        </div>

        <iframe id="ifr" src="code.html"  width="100%" height="320px" frameborder="no" border="0" marginwidth="0"
                marginheight="0" scrolling="no" allowtransparency="yes"></iframe>

        <el-button @click="run" style="width:300px">
            <template v-if="!running">run<i class="el-icon-arrow-right"></i>
            </template>
            <template v-else>running</template>
        </el-button>

        <hr>
        <div>
            <div><el-tag>stdout</el-tag></div>
            <div style="background: black;color: white;margin: 3px;" v-html="stdout">
            </div>

        </div>
        <div>
            <div><el-tag>stderr</el-tag></div>
            <div style="background: black;color: white;margin: 3px;" v-html="stderr">
            </div>
        </div>
        <div>
            <div><el-tag>error</el-tag></div>
            <div style="background: black;color: white;margin: 3px;" v-html="error">
            </div>
        </div>

    </div>
    <script>
        var clientId = "clientId" + new Date().getTime() + '_' + Math.random();
        window.client = new Paho.MQTT.Client("am.appxc.com", Number(8084), clientId);
        client.onConnectionLost = function(){};
        client.onMessageArrived = function(message) {
            window.app.running = false
            if(message.payloadString){
                var payload = JSON.parse(message.payloadString)
                var result = JSON.parse (payload.result)
                console.log(result.stdout)
                console.log(result.stderr)
                console.log(result.error)
                var reg=new RegExp("\n","g");
                app.stdout=result.stdout.replace(reg,"<br>");
                app.stderr=result.stderr.replace(reg,"<br>");
                app.error=result.error.replace(reg,"<br>");
            }

        };

        var default_topic = 'xcstream.github.io/evalcode'
        client.connect({ useSSL: true, onSuccess: function () {

            client.subscribe(clientId)
        }});
        

        var defaultCode = {
            'cpp':
`#include <iostream>
using namespace std;
int main(int argc, char* argv[]){
    cout<<"hello"<<endl<<"cpp";
    return 0;
}
`,
            'c':
`#include <stdio.h>
int main(int argc, char* argv[]){
    printf("Hello c");
    return 0;
}
`,
            'python':
`print ("Hello python")`,

            'java':
`class Main {
    public static void main(String[] args) {
        System.out.println("Hello Java!");
    }
}`,
            'csharp':
`using System;
class MainClass {
    static void Main() {
        Console.WriteLine("Hello C#!");
    }
}`
        }

        window.app=new Vue({
            el:'#vm',
            data:{
                langlist:[
                    'cpp',
                    'c',
                    'python',
                    'java',
                    'csharp'
                ],
                stdout:'',
                stderr:'',
                error:'',
                lang:'cpp',
                result:'',
                running:false
            },
            watch:{
                lang:function () {
                    window.frames[0].window.editor.setValue(defaultCode[app.lang])
                }
            },
            methods:{
                run:function(){
                    if(app.running) return
                    app.running = true
                    var code=window.frames[0].window.editor.getValue()

                    var payload = ({lang:app.lang, content: code,clientId:clientId })
                    var message = new Paho.MQTT.Message(JSON.stringify(payload))
                    message.destinationName = default_topic
                    client.send(message)

                }
            }

        })
    </script>
</body>
</html>